a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

body {
    background-color: #F5F6F7;
    font-family: 'Lato', sans-serif;
}

*{
    text-align: center;
}

/*lado*/